@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-image: url(https://accounts.datastax.com/session-service/v1/img/datastax-grid-top-left-corner.svg), url(https://accounts.datastax.com/session-service/v1/img/datastax-bottom-right-corner.svg);
    background-position: top 0px left 0px, bottom 0px right 0px; */
    background-attachment: fixed;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 30%;
    font-family: "Roboto Flex", sans-serif;

}